
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    background-color: #4CAF50 ;
    padding: 30px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px #7e7d7d;
    max-width: 100%;
}
.container{
    margin: 10% auto;
    width: 70%;
}
.calc{
    display: flex;
    align-items: flex-end;
    background-color: #ccc;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    max-width: 100%;
    box-sizing: border-box;

}
.gimg{
    width: 30px;
    height: 30px;
    background-image: url('PngItem_4468761.png');
    background-size: 30px auto;        
    background-position: 1px 2px;   
    background-repeat: no-repeat;
    margin-right: 10px;
    border-right: 3px solid rgb(0, 0, 0);
    padding-right: 10px;
}
.gdiv{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    display: flex;
    margin-right: 10px;
}
.ginput{
    border: none;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 15px;
}
.ginput1{
    border: none;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 15px;
}
.ginput2{
    border: none;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 15px;
}


   
    

.dropdown{
    position: absolute;
    list-style: none;
    background-color: darkgray;
    border-radius: 10px;
    border: 2px solid rgb(88, 88, 88);
    margin-top: 15px;
    width: 189px;
    padding: 0; 
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
}
.dropdown1{
    position: absolute;
    list-style: none;
    background-color: darkgray;
    border-radius: 10px;
    border: 2px solid rgb(88, 88, 88);
    margin-top: 15px;
    width: 189px;
    padding: 0; 
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.dropdown2{
    position: absolute;
    list-style: none;
    background-color: darkgray;
    border-radius: 10px;
    border: 2px solid rgb(88, 88, 88);
    margin-top: 15px;
    width: 189px;
    padding: 0; 
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ginput1:focus + .dropdown1{
    display: flex;
    transition: 0.3s;
}
.ginput2:focus + .dropdown2{
    display: flex;
    transition: 0.3s;
}

.dropdown li{
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(66, 66, 66);

}
.dropdown1 li{
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(66, 66, 66);

}
.dropdown2 li{
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(66, 66, 66);

}
.dropdown li:hover{
    background-color: #cecece;
    transition: 0.3s;
}
.dropdown1 li:hover{
    background-color: #cecece;
    transition: 0.3s;
}
.dropdown2 li:hover{
    background-color: #cecece;
    transition: 0.3s;
}
.sub{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    
}
@media (max-width: 570px) {
    input{
        max-width: 250px;
    }
}
@media (max-width: 433px) {
    input{
        max-width: 175px;

    }
}